body{
    background-color: hsla(0, 0%, 11%, 0.902);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 9%, 0.7);
    width: 30%;
    height: 70%;
    border-radius: 3%;
}

.login form{

    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 85%;
    padding-left: -5%;
}

 input{
    margin-top: 3%;
    margin: 5%;
    background-color: #3c3c3c;
    border: none;
    width: 100%;
    min-height: 30%;
    outline: none;
    color: rgb(255, 255, 255,0.5);
    padding-left: 0.5em;
    
    
}

.input-pass{
    min-height: 60%;

}
.align-messeger-error-email1{
    display: flex;
    margin-top: -4%;
    padding-left: 1.2em;  
}

.align-messeger-error-email2{
    display: flex;
    padding-left: 1.2em;
}
.align-messeger-error-pass{
    display: flex;
    padding-left: 1.2em;
    margin-top: -3%;
}

.error{
    color: #ffff;
    background-color: red;
    display: none;
  
   
}

input::placeholder{
    font-size: 16px;
    padding-left: 0.5em;
}

.login img{
    display:flex;
    align-items: center;
    width: 45%;
    height: auto;
    margin-top: 5%;
    margin-bottom: -12%;
    margin-left: 20%;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    width: 100%;
    padding: 4%;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
    color: rgb(255, 255, 255,0.7);
    background: linear-gradient(90deg, rgba(97,30,41,1) 0%, rgba(75,4,94,1) 100%);
    font-weight:bold ;
    text-transform: uppercase;
    cursor: pointer;
    
    
}
.botao-none{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: transparent;
    border: none;
    color:rgb(255, 255, 255,0.7) ;
    cursor: pointer;
   font-size: 100%;
   
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button[disabled] {
    opacity: 0.7;
}

.cadastro-sem-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255,0.5);
    

}

.cadastro-com-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255,0.9);
    margin-left: 0.3em;
    text-decoration: none;
}
   